/* TODO Add site wide styles */
.content {
    margin-top: 54px;
    background-color: rgb(250, 250, 250);
}

body {
    margin: 0;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    outline: none;
}

a {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

svg:active,img:active {
    opacity: 0.5;
}

.blue-submit-button {
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 149, 246);
}

.blue-submit-button {
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
}

.blue-submit-button:focus {
    background-color: rgb(92, 190, 255);
    outline: none;
}

.submit-button-container {
    margin-top: 18px;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    width: 100vw;
    margin-top: 10vh;
}

.container {
    border: 1px solid rgb(219, 219, 219);
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-inputs, .field-inputs input {
    border: 1px solid rgb(219, 219, 219);
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    border-radius: 3px;
}

.field-inputs input:focus {
    border: 1px solid black;
    padding: 6.2px;
}

.container input {
    border: none;
    padding: .45rem;
}

.container form {
    width: 80%;
}

.container form div {
    margin: .5rem 0;
}

.container p {
    color: rgb(38, 38, 38);
    font-size: 14px;
}

.redirect-container a {
    color: rgb(0, 149, 246);
    font-weight: 600;
}

.redirect-container a:focus {
    color: rgb(92, 190, 255);
}

.errors {
    color: rgb(237, 73, 86);
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.rounded-img-container {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.rounded-img-container img {
    object-fit: cover;
    border-radius: 50%;
}

.flex-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.normalize-text {
    font-size: 14px;
    color: rgb(142, 142, 142);
    margin: 0;
}

.comments-profile-pictures {
    width: 36px !important;
    height: 36px !important;
}

.posts {
    width: 630px;
}

.post-user-info {
    align-self: flex-start;
    display: flex;
    padding: 0 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 100%;
}

h5 {
    color: rgb(38, 38, 38);
    font-weight: 700;
}

.post-image-container {
    width: 100%;
    height: auto;
    display: inline-block;
}

.post-image-container img {
    width: 100%;
    height: auto;
}

.post-caption-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 12px;
}


.icons-container,.logout {
    margin: 0 .75rem;
    display: flex;
    align-items: center;
}

.icons-container:hover {
    cursor: pointer;
}

.caption-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}


.post-username {
    margin: 0;
    line-height: 19px;
    padding: 0 12px;
}

.username-comments-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.redirect-profile:hover {
    text-decoration: underline;
}

.flex-container {
    display: flex;
}

.spacing {
    height: 100px;
}
