.post-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.each-post{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    margin: 5px;
    /* background-color: white; */
}
.each-picture:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

/* .each-post:hover{
    background-color: rgba(0, 0, 0, 0.3);
} */