nav {
    background: white;
    width: 100vw;
    box-sizing: border-box;
    top: 0;
    position: fixed;
    border-bottom: 1px solid rgb(219, 219, 219) ;
    z-index: 100;
}

.menu {
    display: flex;
    width: 100vw;
    height: 54px;
    line-height: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}

.user-buttons {
    display: flex;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

.search {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    padding: 4px;
    background-color: rgb(250, 250, 250);
    display: flex;
}

.search > input {
    width: 199px;
    border: none;
    color: rgb(142, 142, 142);
    text-align: left;
}

::-webkit-search-cancel-button {
    -webkit-appearance: black;
    cursor: pointer;

    height: 20px;
    width: 20px;
    content: 'X';
    color: black;
}





#dropdown-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 30px;
}

#dropdown-menu-button img {
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#dropdown-menu-button:hover {
    box-shadow: 0 0 3px 1px rgb(0, 0, 0, 0.2);
    outline: none;
}

.dropdown-menu {
    background-color: white;
    box-sizing: border-box;
    padding: .1rem 0;
    list-style-type: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.popout * {
    font-size: 14px;
}

.dropdown-item {
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    font-weight: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
}

.dropdown-profile-redirect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-item:hover {
    background-color: rgb(248, 248, 248);
}

.dropdown-item-redirect {
    cursor: pointer;
    border: none;
    background-color: white;
    text-align: left;
    width: 100%;
    padding: .5rem 1rem;
    border-top: 1px solid rgb(211, 211, 211);
    height: 36px;
}

.dropdown-item-redirect:hover {
    background-color: rgb(248, 248, 248);
}

.popout {
    position: absolute !important;
    right: 2vw;
    top: 55px;
    min-width: 220px;
}
